p {
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  border-bottom: 1px solid grey;
}

.displayFlex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flexItemLabel {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: large;
  text-decoration: underline;
}

.flexItem20 {
  width: 19%;
  margin-right: 1%;
}
.flexItem80 {
  width: 80%;
}
.flexItem100 {
  width: 100%;
}

div span {
  font-weight: bold;
}
