<p>
  Bem vindo! Abaixo podem ser encontrados exemplos de uso dos componentes da
  biblioteca:
</p>

<div class="displayFlex">
  <!-- signin -->
  <div class="flexItemLabel"><span>Botão de Login</span></div>
  <div class="flexItem20">
    <br-signin></br-signin>
  </div>
  <blockquote class="flexItem80">
    &lt;br-signin&gt;&lt;/br-signin&gt;
  </blockquote>

  <!-- breadcrumb -->
  <div class="flexItemLabel"><span>Breadcrumb</span></div>
  <div class="flexItem20">
    <br-breadcrumb
      [itens]="[
        { label: 'A', link: '/a' },
        { label: 'B', link: '/b' },
        { label: 'C', link: '/c' }
      ]"
    ></br-breadcrumb>
  </div>
  <blockquote class="flexItem80">
    &lt;br-breadcrumb
    {{
      "[itens]=\"[ { label: 'A', link: '/a' }, { label: 'B', link: '/b' }, { label: 'C', link: '/c' } ]\""
    }}
    &gt;&lt;/br-breadcrumb&gt;
  </blockquote>

  <!-- button -->
  <div class="flexItemLabel"><span>Button</span></div>
  <div class="flexItem20">
    <br-button ngClass="primary">Botão</br-button>
  </div>
  <blockquote class="flexItem80">
    &lt;br-button ngClass="primary"&gt;Botão&lt;/br-button&gt;
  </blockquote>
  <div class="flexItem20">
    <br-button ngClass="secondary">Botão</br-button>
  </div>
  <blockquote class="flexItem80">
    &lt;br-button ngClass="secondary"&gt;Botão&lt;/br-button&gt;
  </blockquote>
  <div class="flexItem20">
    <br-button ngClass="secondary inverted"
      ><i class="fas fa-mail-bulk" aria-hidden="true"></i> Botão</br-button
    >
  </div>
  <blockquote class="flexItem80">
    &lt;br-button ngClass="secondary inverted" &gt;&lt;i class="fas
    fa-mail-bulk" aria-hidden="true"&gt;&lt;/i&gt; Botão&lt;/br-button &gt;
  </blockquote>
  <!-- button loading -->
  <div class="flexItem20">
    <br-button ngClass="primary" [isLoading]="true">Botão</br-button>
  </div>
  <blockquote class="flexItem80">
    &lt;br-button ngClass="primary"
    [isLoading]="true"&gt;Botão&lt;/br-button&gt;
  </blockquote>
  <!-- button disabled -->
  <div class="flexItem20">
    <br-button ngClass="primary" [isDisabled]="true"
      >Botão Desabilitado</br-button
    >
  </div>
  <blockquote class="flexItem80">
    &lt;br-button ngClass="primary"
    [isDisabled]="true"&gt;Botão&lt;/br-button&gt;
  </blockquote>

  <!-- button ícone -->
  <div class="flexItem20">
    <br-button ngClass="primary circle"
      ><i class="fas fa-film" aria-hidden="true"></i>
    </br-button>
  </div>
  <blockquote class="flexItem80">
    &lt;br-button ngClass="primary circle" &gt;&lt;i class="fas fa-film"
    aria-hidden="true"&gt;&lt;/i&gt; &lt;/br-button&gt;
  </blockquote>
  <div class="flexItem20">
    <br-button ngClass="secondary circle"
      ><i class="fas fa-ticket-alt" aria-hidden="true"></i
    ></br-button>
  </div>
  <blockquote class="flexItem80">
    &lt;br-button ngClass="secondary circle" &gt;&lt;i class="fas fa-ticket-alt"
    aria-hidden="true"&gt;&lt;/i &gt;&lt;/br-button&gt;
  </blockquote>

  <div class="flexItemLabel"><span>Input</span></div>
  <!-- input default -->
  <div class="flexItem20">
    <br-input
      textoLabel="Campo default"
      placeHolder="Uma dica default"
      textoFeedback="default não dá feedback"
    ></br-input>
  </div>
  <blockquote class="flexItem80">
    &lt;br-input textoLabel="Campo default" placeHolder="Uma dica default"
    textoFeedback="default não dá feedback"&gt;&lt;/br-input&gt;
  </blockquote>
  <!-- input success -->
  <div class="flexItem20">
    <br-input
      textoLabel="Campo sucesso"
      placeHolder="Uma dica de sucesso"
      estado="success"
      textoFeedback="Feedback de sucesso"
    ></br-input>
  </div>
  <blockquote class="flexItem80">
    &lt;br-input textoLabel="Campo sucesso" placeHolder="Uma dica de sucesso"
    estado="success" textoFeedback="Feedback de sucesso"&gt;&lt;/br-input&gt;
  </blockquote>
  <!-- input danger -->
  <div class="flexItem20">
    <br-input
      textoLabel="Campo perigoso"
      placeHolder="Uma dica perigosa"
      estado="danger"
      textoFeedback="Feedback perigoso"
    ></br-input>
  </div>
  <blockquote class="flexItem80">
    &lt;br-input textoLabel="Campo perigoso" placeHolder="Uma dica perigosa"
    estado="danger" textoFeedback="Feedback perigoso" &gt;&lt;/br-input&gt;
  </blockquote>
  <!-- input warning -->
  <div class="flexItem20">
    <br-input
      textoLabel="Campo alerta"
      placeHolder="Uma dica alarmista"
      estado="warning"
      textoFeedback="Feedback de atenção"
    ></br-input>
  </div>
  <blockquote class="flexItem80">
    &lt;br-input textoLabel="Campo alerta" placeHolder="Uma dica alarmista"
    estado="warning" textoFeedback="Feedback de atenção" &gt;&lt;/br-input&gt;
  </blockquote>
  <!-- input info -->
  <div class="flexItem20">
    <br-input
      textoLabel="Campo informação"
      placeHolder="Uma dica informativa"
      estado="info"
      textoFeedback="Feedback informativo"
    ></br-input>
  </div>
  <blockquote class="flexItem80">
    &lt;br-input textoLabel="Campo informação" placeHolder="Uma dica
    informativa" estado="info" textoFeedback="Feedback informativo"
    &gt;&lt;/br-input&gt;
  </blockquote>
  <!-- input com botão -->
  <div class="flexItem20">
    <br-input
      textoLabel="Campo com botão"
      placeHolder="Uma dica com botão"
      classIconeFontAwesomeBotao="fas fa-dog"
      (clickButton)="alerta()"
    ></br-input>
  </div>
  <blockquote class="flexItem80">
    &lt;br-input textoLabel="Campo com botão" placeHolder="Uma dica com botão"
    classIconeFontAwesomeBotao="fas fa-dog" (clickButton)="alerta()"
    &gt;&lt;/br-input&gt;
  </blockquote>
  <!-- input desabilitado -->
  <div class="flexItem20">
    <br-input
      textoLabel="Campo desabilitada"
      placeHolder="Uma dica desabilitada"
      estado="warning"
      textoFeedback="Feedback de desabilitação"
      [isDisabled]="true"
    ></br-input>
  </div>
  <blockquote class="flexItem80">
    &lt;br-input textoLabel="Campo desabilitada" placeHolder="Uma dica
    desabilitada" estado="warning" textoFeedback="Feedback de desabilitação"
    [isDisabled]="true" &gt;&lt;/br-input&gt;
  </blockquote>

  <!-- header -->
  <div class="flexItemLabel"><span>Header</span></div>
  <div class="flexItem100">
    <br-header
      textoAssinatura="Sistema Ancine Digital"
      titulo="Sistema de Coisar Coisas"
      subtitulo="Versão: 1.0.0"
      [links]="[
        { texto: 'Link A', url: '/a' },
        { texto: 'Link B', link: '/b' },
        { texto: 'Link C', link: '/c' }
      ]"
      [funcionalidades]="[
        { classIconeFontAwesome: 'fas fa-ambulance', funcao: sirene },
        { classIconeFontAwesome: 'fas fa-business-time', funcao: relogio }
      ]"
      (clickEntrar)="signin($event)"
      (clickSair)="logout($event)"
      [usuario]="user"
    ></br-header>
  </div>
  <blockquote class="flexItem100">
    &lt;br-header textoAssinatura="Sistema Ancine Digital" titulo="Sistema de
    Coisar Coisas" subtitulo="Versão: 1.0.0"<br />
    {{
      "[links]=\"[ { texto: 'Link A', url: '/a' }, { texto: 'Link B', link: '/b' }, { texto: 'Link C', link: '/c' } ]\""
    }}<br />
    {{
      "[funcionalidades]=\"[ { classIconeFontAwesome: 'fas fa-ambulance', funcao: sirene }, { classIconeFontAwesome: 'fas fa-business-time', funcao: relogio }]\""
    }}<br />
    (clickEntrar)="signin($event)" (clickSair)="logout($event)" [usuario]="user"
    &gt;<br />&lt;/br-header&gt;
  </blockquote>

  <!-- footer -->
  <div class="flexItemLabel"><span>Footer</span></div>
  <div class="flexItem100">
    <br-footer
      [gruposLinks]="{
        'Órgãos de Controle': [
          { texto: 'TCU', url: 'http://tcu.gov.br' },
          { texto: 'Ministério Público', url: 'http://mp.gov.br' }
        ],
        'Outros sistemas': [
          { texto: 'SAVI', url: 'http://sad.ancine.gov.br/sadis' },
          { texto: 'Cota de Tela', url: 'http://sad.ancine.gov.br/cota' },
          { texto: 'SICA', url: 'http://sad.ancine.gov.br/sica' },
          { texto: 'RPPF', url: 'http://sad.ancine.gov.br/rppf' }
        ]
      }"
      [linksRedesSociais]="[
        {
          classIconeFontAwesome: 'fab fa-facebook-f',
          texto: 'Facebook',
          url: 'http://facebook.com/ancinegovbr'
        },
        {
          classIconeFontAwesome: 'fab fa-twitter',
          texto: 'Twitter',
          url: 'http://twitter.com/ancinegovbr'
        },
        {
          classIconeFontAwesome: 'fab fa-youtube',
          texto: 'Youtube',
          url: 'http://youtube.com/ancinegov'
        }
      ]"
    ></br-footer>
  </div>
  <blockquote class="flexItem100">
    &lt;br-footer<br />
    {{
      "[gruposLinks]=\"{
        'Órgãos de Controle': [
          { texto: 'TCU', url: 'http://tcu.gov.br' },
          { texto: 'Ministério Público', url: 'http://mp.gov.br' }
        ],
        'Outros sistemas': [
          { texto: 'SAVI', url: 'http://sad.ancine.gov.br/sadis' },
          { texto: 'Cota de Tela', url: 'http://sad.ancine.gov.br/cota' },
          { texto: 'SICA', url: 'http://sad.ancine.gov.br/sica' },
          { texto: 'RPPF', url: 'http://sad.ancine.gov.br/rppf' }
        ]
      }\""
    }}
    <br />
    {{
      "[linksRedesSociais]=\"[ {
        classIconeFontAwesome: 'fab fa-facebook-f',
        texto: 'Facebook',
        url: 'http://facebook.com/ancinegovbr'
      },
      {
        classIconeFontAwesome: 'fab fa-twitter',
        texto: 'Twitter',
        url: 'http://twitter.com/ancinegovbr'
      },
      {
        classIconeFontAwesome: 'fab fa-youtube',
        texto: 'Youtube',
        url: 'http://youtube.com/ancinegov'
      }
    ]\""
    }}&gt;<br />&lt;/br-footer&gt;
  </blockquote>
</div>
