<p>Bem vindo! Abaixo podem ser encontrados exemplos de uso dos componentes da biblioteca:</p>

<div class="displayFlex">
  <!-- signin -->
  <div class="flexItemLabel"><span>Botão de Login</span></div>
  <div class="flexItem20">
    <br-signin></br-signin>
  </div>
  <blockquote class="flexItem80">&lt;br-signin&gt;&lt;/br-signin&gt;</blockquote>

  <!-- breadcrumb -->
  <div class="flexItemLabel"><span>Breadcrumb</span></div>
  <div class="flexItem20">
    <br-breadcrumb
      [itens]="[
        { label: 'A', link: '/a' },
        { label: 'B', link: '/b' },
        { label: 'C', link: '/c' }
      ]"
    ></br-breadcrumb>
  </div>
  <blockquote class="flexItem80">
    &lt;br-breadcrumb
    {{ "[itens]=\"[ { label: 'A', link: '/a' }, { label: 'B', link: '/b' }, { label: 'C', link: '/c' } ]\"" }}
    &gt;&lt;/br-breadcrumb&gt;
  </blockquote>

  <!-- button -->
  <div class="flexItemLabel"><span>Button</span></div>
  <div class="flexItem20">
    <br-button ngClass="primary">Botão</br-button>
  </div>
  <blockquote class="flexItem80">&lt;br-button ngClass="primary"&gt;Botão&lt;/br-button&gt;</blockquote>
  <div class="flexItem20">
    <br-button ngClass="secondary">Botão</br-button>
  </div>
  <blockquote class="flexItem80">&lt;br-button ngClass="secondary"&gt;Botão&lt;/br-button&gt;</blockquote>
  <div class="flexItem20">
    <br-button ngClass="secondary inverted"><i class="fas fa-mail-bulk" aria-hidden="true"></i> Botão</br-button>
  </div>
  <blockquote class="flexItem80">
    &lt;br-button ngClass="secondary inverted" &gt;&lt;i class="fas fa-mail-bulk" aria-hidden="true"&gt;&lt;/i&gt;
    Botão&lt;/br-button &gt;
  </blockquote>
  <!-- button loading -->
  <div class="flexItem20">
    <br-button ngClass="primary" [isLoading]="true">Botão</br-button>
  </div>
  <blockquote class="flexItem80">
    &lt;br-button ngClass="primary" [isLoading]="true"&gt;Botão&lt;/br-button&gt;
  </blockquote>
  <!-- button disabled -->
  <div class="flexItem20">
    <br-button ngClass="primary" [isDisabled]="true">Botão Desabilitado</br-button>
  </div>
  <blockquote class="flexItem80">
    &lt;br-button ngClass="primary" [isDisabled]="true"&gt;Botão&lt;/br-button&gt;
  </blockquote>

  <!-- button ícone -->
  <div class="flexItem20">
    <br-button ngClass="primary circle"><i class="fas fa-film" aria-hidden="true"></i> </br-button>
  </div>
  <blockquote class="flexItem80">
    &lt;br-button ngClass="primary circle" &gt;&lt;i class="fas fa-film" aria-hidden="true"&gt;&lt;/i&gt;
    &lt;/br-button&gt;
  </blockquote>
  <div class="flexItem20">
    <br-button ngClass="secondary circle"><i class="fas fa-ticket-alt" aria-hidden="true"></i></br-button>
  </div>
  <blockquote class="flexItem80">
    &lt;br-button ngClass="secondary circle" &gt;&lt;i class="fas fa-ticket-alt" aria-hidden="true"&gt;&lt;/i
    &gt;&lt;/br-button&gt;
  </blockquote>

  <div class="flexItemLabel"><span>Input</span></div>
  <!-- input default -->
  <div [formGroup]="formulario" class="flexItem20">
    <br-input
      formControlName="nomeCampo"
      textoLabel="Campo default"
      placeHolder="Uma dica default"
      textoFeedback="default não dá feedback"
    ></br-input>
  </div>
  <blockquote class="flexItem80">
    &lt;br-input formControlName="nomeCampo" textoLabel="Campo default" placeHolder="Uma dica default"
    textoFeedback="default não dá feedback"&gt;&lt;/br-input&gt;
  </blockquote>
  <!-- input success -->
  <div [formGroup]="formulario" class="flexItem20">
    <br-input
      formControlName="nomeCampo"
      textoLabel="Campo sucesso"
      placeHolder="Uma dica de sucesso"
      estado="success"
      textoFeedback="Feedback de sucesso"
    ></br-input>
  </div>
  <blockquote class="flexItem80">
    &lt;br-input formControlName="nomeCampo" textoLabel="Campo sucesso" placeHolder="Uma dica de sucesso"
    estado="success" textoFeedback="Feedback de sucesso"&gt;&lt;/br-input&gt;
  </blockquote>
  <!-- input danger -->
  <div [formGroup]="formulario" class="flexItem20">
    <br-input
      formControlName="nomeCampo"
      textoLabel="Campo perigoso"
      placeHolder="Uma dica perigosa"
      estado="danger"
      textoFeedback="Feedback perigoso"
    ></br-input>
  </div>
  <blockquote class="flexItem80">
    &lt;br-input formControlName="nomeCampo" textoLabel="Campo perigoso" placeHolder="Uma dica perigosa" estado="danger"
    textoFeedback="Feedback perigoso" &gt;&lt;/br-input&gt;
  </blockquote>
  <!-- input warning -->
  <div [formGroup]="formulario" class="flexItem20">
    <br-input
      formControlName="nomeCampo"
      textoLabel="Campo alerta"
      placeHolder="Uma dica alarmista"
      estado="warning"
      textoFeedback="Feedback de atenção"
    ></br-input>
  </div>
  <blockquote class="flexItem80">
    &lt;br-input formControlName="nomeCampo" textoLabel="Campo alerta" placeHolder="Uma dica alarmista" estado="warning"
    textoFeedback="Feedback de atenção" &gt;&lt;/br-input&gt;
  </blockquote>
  <!-- input info -->
  <div [formGroup]="formulario" class="flexItem20">
    <br-input
      formControlName="nomeCampo"
      textoLabel="Campo informação"
      placeHolder="Uma dica informativa"
      estado="info"
      textoFeedback="Feedback informativo"
    ></br-input>
  </div>
  <blockquote class="flexItem80">
    &lt;br-input formControlName="nomeCampo" textoLabel="Campo informação" placeHolder="Uma dica informativa"
    estado="info" textoFeedback="Feedback informativo" &gt;&lt;/br-input&gt;
  </blockquote>
  <!-- input com botão -->
  <div [formGroup]="formulario" class="flexItem20">
    <br-input
      formControlName="nomeCampo"
      textoLabel="Campo com botão"
      placeHolder="Uma dica com botão"
      classIconeFontAwesomeBotao="fas fa-dog"
      (clickButton)="alerta()"
    ></br-input>
  </div>
  <blockquote class="flexItem80">
    &lt;br-input formControlName="nomeCampo" textoLabel="Campo com botão" placeHolder="Uma dica com botão"
    classIconeFontAwesomeBotao="fas fa-dog" (clickButton)="alerta()" &gt;&lt;/br-input&gt;
  </blockquote>
  <!-- input desabilitado -->
  <div [formGroup]="formulario" class="flexItem20">
    <br-input
      formControlName="nomeCampo"
      textoLabel="Campo desabilitada"
      placeHolder="Uma dica desabilitada"
      estado="warning"
      textoFeedback="Feedback de desabilitação"
      [isDisabled]="true"
    ></br-input>
  </div>
  <blockquote class="flexItem80">
    &lt;br-input formControlName="nomeCampo" textoLabel="Campo desabilitada" placeHolder="Uma dica desabilitada"
    estado="warning" textoFeedback="Feedback de desabilitação" [isDisabled]="true" &gt;&lt;/br-input&gt;
  </blockquote>

  <!-- tooltip  -->
  <div class="flexItemLabel"><span>Tooltip</span></div>
  <div class="flexItem20">
    <a href="javascript:void(0);">Link com dica</a>
    <br-tooltip texto="Uma dica preciosa"></br-tooltip>
  </div>
  <blockquote class="flexItem80">
    &lt;a href="javascript:void(0);"&gt;Link com dica&lt;/a&gt; &lt;br-tooltip texto="Uma dica
    preciosa"&gt;&lt;/br-tooltip&gt;
  </blockquote>
  <div class="flexItem20">
    <p>Parágrafo com dica e subtexto</p>
    <br-tooltip texto="Uma dica preciosa" subtexto="Com um subtexto"></br-tooltip>
  </div>
  <blockquote class="flexItem80">
    &lt;p&gt;Parágrafo com dica e subtexto&lt;/p&gt; &lt;br-tooltip texto="Uma dica preciosa" subtexto="Com um subtexto"
    &gt;&lt;/br-tooltip&gt;
  </blockquote>
  <!-- tooltip success -->
  <div class="flexItem20">
    <a href="javascript:void(0);">Link com dica de sucesso</a>
    <br-tooltip estado="success" texto="Uma dica de sucesso"></br-tooltip>
  </div>
  <blockquote class="flexItem80">
    &lt;a href="javascript:void(0);"&gt;Link com dica de sucesso&lt;/a&gt; &lt;br-tooltip estado="success" texto="Uma
    dica de sucesso"&gt;&lt;/br-tooltip&gt;
  </blockquote>
  <!-- tooltip warning -->
  <div class="flexItem20">
    <span>span com dica alarmista à direita</span>
    <br-tooltip estado="warning" texto="Uma dica pra te alertar" subtexto="Preste atenção" posicao="right"></br-tooltip>
  </div>
  <blockquote class="flexItem80">
    &lt;span&gt;span com dica alarmista à direita&lt;/span&gt; &lt;br-tooltip estado="warning" texto="Uma dica pra te
    alertar" subtexto="Preste atenção" posicao="right" &gt;&lt;/br-tooltip&gt;
  </blockquote>
  <!-- tooltip error -->
  <div class="flexItem20">
    <br-input textoLabel="Input com tooltip error abaixo"></br-input>
    <br-tooltip
      estado="error"
      texto="Uma dica errada"
      subtexto="Não ligue, é só um teste"
      posicao="bottom"
    ></br-tooltip>
  </div>
  <blockquote class="flexItem80">
    &lt;br-input textoLabel="Input com tooltip error abaixo"&gt;&lt;/br-input&gt; &lt;br-tooltip estado="error"
    texto="Uma dica errada" subtexto="Não ligue, é só um teste" posicao="bottom" &gt;&lt;/br-tooltip&gt;
  </blockquote>

  <!-- header -->
  <div class="flexItemLabel"><span>Header</span></div>
  <div class="flexItem100">
    <br-header
      textoAssinatura="Sistema Ancine Digital"
      titulo="Sistema de Coisar Coisas"
      subtitulo="Versão: 1.0.0"
      [links]="[
        { texto: 'Link A', url: '/a' },
        { texto: 'Link B', link: '/b' },
        { texto: 'Link C', link: '/c' }
      ]"
      [funcionalidades]="[
        { classIconeFontAwesome: 'fas fa-ambulance', funcao: sirene },
        { classIconeFontAwesome: 'fas fa-business-time', funcao: relogio }
      ]"
      (clickEntrar)="signin($event)"
      (clickSair)="logout($event)"
      [usuario]="user"
    ></br-header>
  </div>
  <blockquote class="flexItem100">
    &lt;br-header textoAssinatura="Sistema Ancine Digital" titulo="Sistema de Coisar Coisas" subtitulo="Versão:
    1.0.0"<br />
    {{
      "[links]=\"[ { texto: 'Link A', url: '/a' }, { texto: 'Link B', link: '/b' }, { texto: 'Link C', link: '/c' } ]\""
    }}<br />
    {{
      "[funcionalidades]=\"[ { classIconeFontAwesome: 'fas fa-ambulance', funcao: sirene }, { classIconeFontAwesome: 'fas fa-business-time', funcao: relogio }]\""
    }}<br />
    (clickEntrar)="signin($event)" (clickSair)="logout($event)" [usuario]="user" &gt;<br />&lt;/br-header&gt;
  </blockquote>

  <!-- footer -->
  <div class="flexItemLabel"><span>Footer</span></div>
  <div class="flexItem100">
    <br-footer
      [gruposLinks]="{
        'Órgãos de Controle': [
          { texto: 'TCU', url: 'http://tcu.gov.br' },
          { texto: 'Ministério Público', url: 'http://mp.gov.br' }
        ],
        'Outros sistemas': [
          { texto: 'SAVI', url: 'http://sad.ancine.gov.br/sadis' },
          { texto: 'Cota de Tela', url: 'http://sad.ancine.gov.br/cota' },
          { texto: 'SICA', url: 'http://sad.ancine.gov.br/sica' },
          { texto: 'RPPF', url: 'http://sad.ancine.gov.br/rppf' }
        ]
      }"
      [linksRedesSociais]="[
        {
          classIconeFontAwesome: 'fab fa-facebook-f',
          texto: 'Facebook',
          url: 'http://facebook.com/ancinegovbr'
        },
        {
          classIconeFontAwesome: 'fab fa-twitter',
          texto: 'Twitter',
          url: 'http://twitter.com/ancinegovbr'
        },
        {
          classIconeFontAwesome: 'fab fa-youtube',
          texto: 'Youtube',
          url: 'http://youtube.com/ancinegov'
        }
      ]"
    ></br-footer>
  </div>
  <blockquote class="flexItem100">
    &lt;br-footer<br />
    {{
      "[gruposLinks]=\"{
        'Órgãos de Controle': [
          { texto: 'TCU', url: 'http://tcu.gov.br' },
          { texto: 'Ministério Público', url: 'http://mp.gov.br' }
        ],
        'Outros sistemas': [
          { texto: 'SAVI', url: 'http://sad.ancine.gov.br/sadis' },
          { texto: 'Cota de Tela', url: 'http://sad.ancine.gov.br/cota' },
          { texto: 'SICA', url: 'http://sad.ancine.gov.br/sica' },
          { texto: 'RPPF', url: 'http://sad.ancine.gov.br/rppf' }
        ]
      }\""
    }}
    <br />
    {{
      "[linksRedesSociais]=\"[ {
        classIconeFontAwesome: 'fab fa-facebook-f',
        texto: 'Facebook',
        url: 'http://facebook.com/ancinegovbr'
      },
      {
        classIconeFontAwesome: 'fab fa-twitter',
        texto: 'Twitter',
        url: 'http://twitter.com/ancinegovbr'
      },
      {
        classIconeFontAwesome: 'fab fa-youtube',
        texto: 'Youtube',
        url: 'http://youtube.com/ancinegov'
      }
    ]\""
    }}&gt;<br />&lt;/br-footer&gt;
  </blockquote>

  <!-- menu expansão -->
  <div class="flexItemLabel"><span>Menu: Agrupamento por Expansão</span></div>
  <div class="flexItem100">
    <div class="header-menu-trigger">
      <button
        class="br-button small circle"
        type="button"
        aria-label="Menu"
        data-toggle="menu"
        data-target="#main-navigation"
        id="navigation"
        (click)="menuExpansaoVisivel = !menuExpansaoVisivel"
      >
        <i class="fas fa-bars" aria-hidden="true"></i>
      </button>
    </div>
    <br-menu
      titulo="Agrupamento Expansão"
      [visivel]="menuExpansaoVisivel"
      (closeMenu)="menuExpansaoVisivel = false"
      [grupos]="[
        {
          classIconeFontAwesome: 'fas fa-film',
          texto: 'Grupo 1',
          itens: [
            {
              link: {
                tipo: 'rota',
                classIconeFontAwesome: 'fas fa-users',
                texto: 'Entidade',
                url: '/entidade'
              }
            },
            {
              link: {
                tipo: 'rota',
                classIconeFontAwesome: 'fas fa-map-signs',
                texto: 'Qualquer coisa'
              }
            },
            {
              link: {
                tipo: 'rota',
                classIconeFontAwesome: 'fas fa-university',
                texto: 'Subgrupo 1.1'
              },
              subItens: [
                {
                  link: {
                    tipo: 'rota',
                    classIconeFontAwesome: 'fas fa-photo-video',
                    texto: 'Obras publicitárias',
                    url: 'http://oglobo.com.br'
                  }
                },
                {
                  link: {
                    tipo: 'rota',
                    classIconeFontAwesome: 'fas fa-money-bill-alt',
                    texto: 'Fomento',
                    url: 'http://ge.com.br'
                  }
                },
                {
                  link: {
                    tipo: 'rota',
                    classIconeFontAwesome: 'fas fa-film',
                    texto: 'Esse tem subitens'
                  },
                  subItens: [
                    {
                      link: {
                        tipo: 'rota',
                        classIconeFontAwesome: 'fas fa-allergies',
                        texto: 'Teste ',
                        url: '/entidade'
                      }
                    }
                  ]
                }
              ]
            }
          ]
        },
        {
          classIconeFontAwesome: 'fas fa-futbol',
          texto: 'Grupo 2',
          itens: [
            {
              exibicao: 'sempre',
              link: {
                classIconeFontAwesome: 'fas fa-users',
                texto: 'Entidade',
                url: '/entidade'
              }
            }
          ]
        }
      ]"
      [linksExternos]="[
        { tipo: 'url', texto: 'Portal', url: 'http://gov.br/ancine' },
        { tipo: 'url', texto: 'SAVI', url: 'http://savi.ancine.gov.br' }
      ]"
    ></br-menu>
  </div>
  <blockquote class="flexItem100">
    &lt;div class="header-menu-trigger"&gt; &lt;button class="br-button small circle" type="button" aria-label="Menu"
    data-toggle="menu" data-target="#main-navigation" id="navigation" (click)="menuExpansaoVisivel =
    !menuExpansaoVisivel" &gt; &lt;i class="fas fa-bars" aria-hidden="true"&gt;&lt;/i&gt; &lt;/button&gt;
    &lt;/div&gt;<br /><br />
    &lt;br-menu titulo="Agrupamento Expansão" [visivel]="menuExpansaoVisivel" (closeMenu)="menuExpansaoVisivel =
    false"<br />
    {{
      " [grupos]=\"[
      {
        classIconeFontAwesome: 'fas fa-film',
        texto: 'Grupo 1',
        itens: [
          {
            link: {
              tipo: 'rota',
              classIconeFontAwesome: 'fas fa-users',
              texto: 'Entidade',
              url: '/entidade'
            }
          },
          {
            link: {
              tipo: 'rota',
              classIconeFontAwesome: 'fas fa-map-signs',
              texto: 'Qualquer coisa'
            }
          },
          {
            link: {
              tipo: 'rota',
              classIconeFontAwesome: 'fas fa-university',
              texto: 'Subgrupo 1.1'
            },
            subItens: [
              {
                link: {
                  tipo: 'rota',
                  classIconeFontAwesome: 'fas fa-photo-video',
                  texto: 'Obras publicitárias',
                  url: 'http://oglobo.com.br'
                }
              },
              {
                link: {
                  tipo: 'rota',
                  classIconeFontAwesome: 'fas fa-money-bill-alt',
                  texto: 'Fomento',
                  url: 'http://ge.com.br'
                }
              },
              {
                link: {
                  tipo: 'rota',
                  classIconeFontAwesome: 'fas fa-film',
                  texto: 'Esse tem subitens'
                },
                subItens: [
                  {
                    link: {
                      tipo: 'rota',
                      classIconeFontAwesome: 'fas fa-allergies',
                      texto: 'Teste ',
                      url: '/entidade'
                    }
                  }
                ]
              }
            ]
          }
        ]
      },
      {
        classIconeFontAwesome: 'fas fa-futbol',
        texto: 'Grupo 2',
        itens: [
          {
            link: {
              classIconeFontAwesome: 'fas fa-users',
              texto: 'Entidade',
              url: '/entidade'
            }
          }
        ]
      }
    ]\""
    }}<br />
    {{
      "[linksExternos]="[
      { tipo: 'url', texto: 'Portal', url: 'http://gov.br/ancine' },
      { tipo: 'url', texto: 'SAVI', url: 'http://savi.ancine.gov.br' }
    ]\""







































    }}&gt;<br />&lt;/br-menu&gt;
  </blockquote>

  <!-- menu agrupamento por rótulos -->
  <div class="flexItemLabel"><span>Menu: Agrupamento por Rótulos</span></div>
  <div class="flexItem100">
    <div class="header-menu-trigger">
      <button
        class="br-button small circle"
        type="button"
        aria-label="Menu"
        data-toggle="menu"
        data-target="#main-navigation"
        id="navigation"
        (click)="menuRotuloVisivel = !menuRotuloVisivel"
      >
        <i class="fas fa-bars" aria-hidden="true"></i>
      </button>
    </div>
    <br-menu
      titulo="Agrupamento Rótulos"
      tipoAgrupamentoMenu="rotulo"
      [visivel]="menuRotuloVisivel"
      (closeMenu)="menuRotuloVisivel = false"
      [grupos]="[
        {
          classIconeFontAwesome: 'fas fa-film',
          texto: 'Grupo 1',
          itens: [
            {
              link: {
                tipo: 'rota',
                classIconeFontAwesome: 'fas fa-users',
                texto: 'Entidade',
                url: '/entidade'
              }
            },
            {
              link: {
                tipo: 'rota',
                classIconeFontAwesome: 'fas fa-map-signs',
                texto: 'Qualquer coisa'
              }
            },
            {
              link: {
                tipo: 'rota',
                classIconeFontAwesome: 'fas fa-university',
                texto: 'Subgrupo 1.1'
              },
              subItens: [
                {
                  link: {
                    tipo: 'rota',
                    classIconeFontAwesome: 'fas fa-photo-video',
                    texto: 'Obras publicitárias',
                    url: 'http://oglobo.com.br'
                  }
                },
                {
                  link: {
                    tipo: 'rota',
                    classIconeFontAwesome: 'fas fa-money-bill-alt',
                    texto: 'Fomento',
                    url: 'http://ge.com.br'
                  }
                },
                {
                  link: {
                    tipo: 'rota',
                    classIconeFontAwesome: 'fas fa-film',
                    texto: 'Esse tem subitens'
                  },
                  subItens: [
                    {
                      link: {
                        tipo: 'rota',
                        classIconeFontAwesome: 'fas fa-allergies',
                        texto: 'Teste ',
                        url: '/entidade'
                      }
                    }
                  ]
                }
              ]
            }
          ]
        },
        {
          classIconeFontAwesome: 'fas fa-futbol',
          texto: 'Grupo 2',
          itens: [
            {
              exibicao: 'sempre',
              link: {
                classIconeFontAwesome: 'fas fa-users',
                texto: 'Entidade',
                url: '/entidade'
              }
            }
          ]
        }
      ]"
      [linksExternos]="[
        { tipo: 'url', texto: 'Portal', url: 'http://gov.br/ancine' },
        { tipo: 'url', texto: 'SAVI', url: 'http://savi.ancine.gov.br' }
      ]"
    ></br-menu>
  </div>
  <blockquote class="flexItem100">
    &lt;div class="header-menu-trigger"&gt; &lt;button class="br-button small circle" type="button" aria-label="Menu"
    data-toggle="menu" data-target="#main-navigation" id="navigation" (click)="menuRotuloVisivel = !menuRotuloVisivel"
    &gt; &lt;i class="fas fa-bars" aria-hidden="true"&gt;&lt;/i&gt; &lt;/button&gt; &lt;/div&gt;<br /><br />
    &lt;br-menu titulo="Agrupamento Rótulos" tipoAgrupamentoMenu="rotulo" [visivel]="menuRotuloVisivel"
    (closeMenu)="menuRotuloVisivel = false"<br />
    {{
      " [grupos]=\"[
        {
          classIconeFontAwesome: 'fas fa-film',
          texto: 'Grupo 1',
          itens: [
            {
              link: {
                tipo: 'rota',
                classIconeFontAwesome: 'fas fa-users',
                texto: 'Entidade',
                url: '/entidade'
              }
            },
            {
              link: {
                tipo: 'rota',
                classIconeFontAwesome: 'fas fa-map-signs',
                texto: 'Qualquer coisa'
              }
            },
            {
              link: {
                tipo: 'rota',
                classIconeFontAwesome: 'fas fa-university',
                texto: 'Subgrupo 1.1'
              },
              subItens: [
                {
                  link: {
                    tipo: 'rota',
                    classIconeFontAwesome: 'fas fa-photo-video',
                    texto: 'Obras publicitárias',
                    url: 'http://oglobo.com.br'
                  }
                },
                {
                  link: {
                    tipo: 'rota',
                    classIconeFontAwesome: 'fas fa-money-bill-alt',
                    texto: 'Fomento',
                    url: 'http://ge.com.br'
                  }
                },
                {
                  link: {
                    tipo: 'rota',
                    classIconeFontAwesome: 'fas fa-film',
                    texto: 'Esse tem subitens'
                  },
                  subItens: [
                    {
                      link: {
                        tipo: 'rota',
                        classIconeFontAwesome: 'fas fa-allergies',
                        texto: 'Teste ',
                        url: '/entidade'
                      }
                    }
                  ]
                }
              ]
            }
          ]
        },
        {
          classIconeFontAwesome: 'fas fa-futbol',
          texto: 'Grupo 2',
          itens: [
            {
              exibicao: 'sempre',
              link: {
                classIconeFontAwesome: 'fas fa-users',
                texto: 'Entidade',
                url: '/entidade'
              }
            }
          ]
        }
      ]\""
    }}<br />
    {{
        "[linksExternos]="[
        { tipo: 'url', texto: 'Portal', url: 'http://gov.br/ancine' },
        { tipo: 'url', texto: 'SAVI', url: 'http://savi.ancine.gov.br' }
      ]\""












































    }}&gt;<br />&lt;/br-menu&gt;
  </blockquote>

  <!-- menu agrupamento por dividers -->
  <div class="flexItemLabel"><span>Menu: Agrupamento por Dividers</span></div>
  <div class="flexItem100">
    <div class="header-menu-trigger">
      <button
        class="br-button small circle"
        type="button"
        aria-label="Menu"
        data-toggle="menu"
        data-target="#main-navigation"
        id="navigation"
        (click)="menuDividerVisivel = !menuDividerVisivel"
      >
        <i class="fas fa-bars" aria-hidden="true"></i>
      </button>
    </div>
    <br-menu
      titulo="Agrupamento Dividers"
      tipoAgrupamentoMenu="divider"
      [visivel]="menuDividerVisivel"
      (closeMenu)="menuDividerVisivel = false"
      [grupos]="[
        {
          classIconeFontAwesome: 'fas fa-film',
          texto: 'Grupo 1',
          itens: [
            {
              link: {
                tipo: 'rota',
                classIconeFontAwesome: 'fas fa-users',
                texto: 'Entidade',
                url: '/entidade'
              }
            },
            {
              link: {
                tipo: 'rota',
                classIconeFontAwesome: 'fas fa-map-signs',
                texto: 'Qualquer coisa'
              }
            },
            {
              link: {
                tipo: 'rota',
                classIconeFontAwesome: 'fas fa-university',
                texto: 'Subgrupo 1.1'
              },
              subItens: [
                {
                  link: {
                    tipo: 'rota',
                    classIconeFontAwesome: 'fas fa-photo-video',
                    texto: 'Obras publicitárias',
                    url: 'http://oglobo.com.br'
                  }
                },
                {
                  link: {
                    tipo: 'rota',
                    classIconeFontAwesome: 'fas fa-money-bill-alt',
                    texto: 'Fomento',
                    url: 'http://ge.com.br'
                  }
                },
                {
                  link: {
                    tipo: 'rota',
                    classIconeFontAwesome: 'fas fa-film',
                    texto: 'Esse tem subitens'
                  },
                  subItens: [
                    {
                      link: {
                        tipo: 'rota',
                        classIconeFontAwesome: 'fas fa-allergies',
                        texto: 'Teste ',
                        url: '/entidade'
                      }
                    }
                  ]
                }
              ]
            }
          ]
        },
        {
          classIconeFontAwesome: 'fas fa-futbol',
          texto: 'Grupo 2',
          itens: [
            {
              exibicao: 'sempre',
              link: {
                classIconeFontAwesome: 'fas fa-users',
                texto: 'Entidade',
                url: '/entidade'
              }
            }
          ]
        }
      ]"
      [linksExternos]="[
        { tipo: 'url', texto: 'Portal', url: 'http://gov.br/ancine' },
        { tipo: 'url', texto: 'SAVI', url: 'http://savi.ancine.gov.br' }
      ]"
    ></br-menu>
  </div>
  <blockquote class="flexItem100">
    &lt;div class="header-menu-trigger"&gt; &lt;button class="br-button small circle" type="button" aria-label="Menu"
    data-toggle="menu" data-target="#main-navigation" id="navigation" (click)="menuDividerVisivel = !menuDividerVisivel"
    &gt; &lt;i class="fas fa-bars" aria-hidden="true"&gt;&lt;/i&gt; &lt;/button&gt; &lt;/div&gt;<br /><br />
    &lt;br-menu titulo="Agrupamento Dividers" tipoAgrupamentoMenu="divider" [visivel]="menuDividerVisivel"
    (closeMenu)="menuDividerVisivel = false"<br />
    {{
      " [grupos]=\"[
          {
            classIconeFontAwesome: 'fas fa-film',
            texto: 'Grupo 1',
            itens: [
              {
                link: {
                  tipo: 'rota',
                  classIconeFontAwesome: 'fas fa-users',
                  texto: 'Entidade',
                  url: '/entidade'
                }
              },
              {
                link: {
                  tipo: 'rota',
                  classIconeFontAwesome: 'fas fa-map-signs',
                  texto: 'Qualquer coisa'
                }
              },
              {
                link: {
                  tipo: 'rota',
                  classIconeFontAwesome: 'fas fa-university',
                  texto: 'Subgrupo 1.1'
                },
                subItens: [
                  {
                    link: {
                      tipo: 'rota',
                      classIconeFontAwesome: 'fas fa-photo-video',
                      texto: 'Obras publicitárias',
                      url: 'http://oglobo.com.br'
                    }
                  },
                  {
                    link: {
                      tipo: 'rota',
                      classIconeFontAwesome: 'fas fa-money-bill-alt',
                      texto: 'Fomento',
                      url: 'http://ge.com.br'
                    }
                  },
                  {
                    link: {
                      tipo: 'rota',
                      classIconeFontAwesome: 'fas fa-film',
                      texto: 'Esse tem subitens'
                    },
                    subItens: [
                      {
                        link: {
                          tipo: 'rota',
                          classIconeFontAwesome: 'fas fa-allergies',
                          texto: 'Teste ',
                          url: '/entidade'
                        }
                      }
                    ]
                  }
                ]
              }
            ]
          },
          {
            classIconeFontAwesome: 'fas fa-futbol',
            texto: 'Grupo 2',
            itens: [
              {
                exibicao: 'sempre',
                link: {
                  classIconeFontAwesome: 'fas fa-users',
                  texto: 'Entidade',
                  url: '/entidade'
                }
              }
            ]
          }
        ]\""
    }}<br />
    {{
          "[linksExternos]="[
          { tipo: 'url', texto: 'Portal', url: 'http://gov.br/ancine' },
          { tipo: 'url', texto: 'SAVI', url: 'http://savi.ancine.gov.br' }
        ]\""
















































    }}&gt;<br />&lt;/br-menu&gt;
  </blockquote>
</div>
