<div class="container-fluid">
  <p class="h2">Entidade</p>
  <div class="row">
    <div class="col-8">
      <br-input-text
        label="Filtro"
        placeHolder="Expressão procurada"
        (onKeyUp)="debouncePesquisa.next($any($event.target).value)"
      ></br-input-text>
    </div>
    <div class="col-2">
      <button type="button" class="br-button primary" (click)="pesquisa()">
        <mat-icon>search</mat-icon> Pesquisar
      </button>
    </div>
    <div class="col-2">
      <button type="button" class="br-button primary" [routerLink]="[urlRota, AcaoEnum.INSERIR]">
        <mat-icon>add</mat-icon> Cadastrar
      </button>
    </div>
  </div>
</div>
<br-button ngClass="secondary large" aria-label="aaaa"
  ><i class="fas fa-city" aria-hidden="true"></i>Um teste</br-button
>

<div class="col-md container-fluid">
  <div class="col-md-12 col-lg-12">
    <div class="col-mdrid col-mdrid-responsive container-fluid">
      <div class="col-mdrid-row">
        <div class="col-md-12 col-lg-12">
          <br-tabela #tabela> </br-tabela>
          <div
            *ngIf="dataSource?.data"
            class="total-registro color-white background-color-gray text-align-centered padding-10px"
          >
            Total de registros:
            {{ dataSource.data.length }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
