<div class="br-breadcrumb" aria-label="Breadcumb">
  <ul class="crumb-list">
    <li class="crumb home">
      <div class="br-button circle">
        <span class="sr-only">Página inicial</span>
        <i class="icon fas fa-home"></i>
      </div>
    </li>
    <li class="crumb"><i class="icon fas fa-chevron-right"></i></li>
    <li class="crumb menu-mobil">
      <div class="br-button circle">
        <span class="sr-only">Botão Menu</span>
        <i class="icon fas fa-folder-plus"></i>
      </div>
    </li>
    <li class="crumb">
      <i class="icon fas fa-chevron-right"></i>
      <a href="javascript:void(0)">Página Ancestral 01</a>
    </li>
    <li class="crumb">
      <i class="icon fas fa-chevron-right"></i>
      <a href="javascript:void(0)">Página Ancestral 02</a>
    </li>
    <li class="crumb">
      <i class="icon fas fa-chevron-right"></i>
      <a href="javascript:void(0)">Página Ancestral 03</a>
    </li>
    <li class="crumb">
      <i class="icon fas fa-chevron-right"></i>
      <a href="javascript:void(0)">Página Ancestral Com Título Grande</a>
    </li>
    <li class="crumb" data-active="active">
      <i class="icon fas fa-chevron-right"></i>
      <span>Página atual</span>
    </li>
  </ul>
</div>
